PORT=5000
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TABLE_TASKS=SeriesList
SUPABASE_TABLE_FREELANCERS=Freelancer
SUPABASE_TABLE_DEADLINES=SeriesList
SUPABASE_TABLE_QR=Freelancer
SUPABASE_TABLE_ERRORS=Error
GUIDE_URL=
RESOURCE_URL=
